<body>
    {{!-- <div class="container mt-5"> --}}
        <div class="row justify-content-center">
            <div class="col-8 select group mt-5">
                <div class="dropdown d-flex justify-content-center ">
                    <a class="btn btn-outline-primary dropdown-toggle" style="width: 50%" href="/" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        類別
                    </a>
                    <ul class="dropdown-menu text-center" style="width: 50%">
                        <li><a class="dropdown-item" href="/">全部</a></li>
                        <li><a class="dropdown-item" href="/category/家居物業">家居物業</a></li>
                        <li><a class="dropdown-item" href="/category/交通出行">交通出行</a></li>
                        <li><a class="dropdown-item" href="/category/休閒娛樂 ">休閒娛樂</a></li>
                        <li><a class="dropdown-item" href="/category/餐飲食品">餐飲食品</a></li>
                        <li><a class="dropdown-item" href="/category/其他">其他</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Total -->
        <div class="card-body">
            <div class="row justify-content-center mt-4">
                <label for="totalAmount" class="col-sm-5 col-form-label text-center" style="margin-right: 20%;">總金額：
                    <h1 for="totalAmount" class="col-sm-2 col-form-label"
                        style="margin-left: 70%; font-size:50px;color:hsl(16.19deg 100% 62.2%)" name="totalAmount">
                        {{totalAmount}}
                    </h1>
                </label>
            </div>
        </div>

        <!--總列表-->

        <div class="row justify-content-center" style="align-items:center">
            {{#each record}}
            <div class="card-body d-inline-flex justify-content-center" style="padding-left: 0px;padding-right: 100px;">
                <div class="col-6 row p-3 ">
                    <div class="col-2 d-flex" style="align-items:center">
                        <i class="{{{this.icon}}} fa-2x"></i>
                    </div>
                    <div class="col-5">
                        <h5 class=" m-0" type="name">{{this.name}}</h5>
                        <p class="m-0" type="date">{{this.date}}</p>
                    </div>
                    <div class="col-3 d-inline-flex" style="align-items:center; justify-content:flex-start"
                        type="amount">
                        {{this.amount}}
                    </div>
                    <div class="col-2 d-inline-flex">
                        <div class="col-4 d-flex" style="align-items:center">
                            <a class="btn btn-light" href="/expense/{{this._id}}/edit">Edit</a>
                            <form action="/expense/{{this._id}}?_method=DELETE" method="POST" style="align-items:center"
                                class="col d-flex">
                                <button class="btn btn-light" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <!--新增支出-->
        <div class="row">
            <div class="text-center" style="margin-right:10px; ">
                <a href="/expense/new" class="col-xs-6 col-sm-2 btn btn-outline-light"
                    style="background-color:#db6c3d;">新增支出</a>
            </div>
        </div>
        {{!--
    </div> --}}
</body>